.main-heading {
  color: rgb(153, 153, 153);
  text-align: center;
}

.horizontal-line {
  color: rgb(153, 153, 153);
}

.previews {
  display: flex;
  justify-content: space-evenly;
}

.estates {
  width: 100%;
  display: flex;
  justify-content: center;
}