@import 'colors';

h1 {
  color: $mygrey;
  text-align: center;
  font-size: 2.5rem;
}

hr {
  color: $mygrey;
}

.previews {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 4rem;
}

.estates {
  width: 100%;
  display: flex;
  justify-content: center;
}