h1 {
  color: rgb(153, 153, 153);
  text-align: center;
}

hr {
  color: rgb(153, 153, 153);
}

.previews {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 3rem;
}

.estates {
  width: 100%;
  display: flex;
  justify-content: center;
}