.estate {
  display: flex;
  flex-direction: column;  
}

.labeled-line {
  display: flex;
  justify-content: space-between;
}

.line-label {
  font-weight: bold;
}

.better {
  background-color: rgb(126, 218, 126);
}

.worse {
  background-color: rgb(240, 145, 145);
}

.estate__company {
  display: flex;
  align-items: center;
}