.estate {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 1%;
  margin: 0 0.5rem;
  font-size: 0.8rem;
}

.estate__image {
  width: 22vw;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.label {
  font-weight: bold;
}

.better {
  background-color: rgb(126, 218, 126);
}

.worse {
  background-color: rgb(240, 145, 145);
}

.estate__company {
  display: flex;
  align-items: center;

  img {
    max-width: 4rem;
    margin: 0.5em;
  }
}