.estate {
  display: flex;
  flex-direction: column;  
}

.labeled-line {
  display: flex;
  justify-content: space-between;
}

.better {
  background-color: green;
}

.worse {
  background-color: red;
}

.estate__company {
  display: flex;
  align-items: center;
}