@import 'colors';

.preview {
  width: 9vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__overlay {
    position: absolute;
    width: 9vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4rem solid $myblue;

    .selection {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      font-weight: bold;
      background-color: $myblue;
    }
  }

  &__image {
    width: 100%;
    flex-grow: 1;
    background-size: cover;
  }

  &__text {
    font-size: 0.66rem;
    margin: 0.1rem;
  }
}
