.preview {
  width: 9vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
}

.preview__image {
  width: 100%;
  flex-grow: 1;
  background-size: cover;
}

.preview__text {
  font-size: 0.7rem;
}